.FileControlsWrapper-folder-description {
  flex: 1 1 auto;
}

.FileControlsWrapper-folder-description-textarea {
  width: calc(100% - 10px);
  padding: 10px;
  background-color: rgb(241, 243, 250);
  border: none;
  color: rgb(108, 117, 125);
  border-radius: 4px;
  overflow: hidden;
}