.dropdown:focus,.dropdown:active, .dropdown {
    outline: none !important;
    box-shadow: none;
    border: none;
 }

.topbar-dropdown .nav-link {
    line-height: 20px;
}

.btn-check:checked + .btn-light:focus, .btn-check:active + .btn-light:focus, .btn-light:active:focus, .btn-light.active:focus, .show > .btn-light.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
}

.image-menu {
    border: 3px solid #dee2e6 !important;
}
