.LeftTabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;

  .LeftTabs__tabs {
    border-right: 1px solid #ddd;
    flex: 0 0 auto;
    width: 150px;

    .LeftTabs__tab {
      border-bottom: 1px solid #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50px;

      .LeftTabs__tab-active {
      }
    }
  }

  .LeftTabs__body {
    flex: 1 1 auto;
  }
}
