/* Show it is fixed to the top */
body {
  padding-top: 4.5rem;
}

.text-center {
  text-align: center;
}

.download-link {
  display: inline-block;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.download-link:hover {
  background-color: #0056b3;
}

.download-link span {
  margin-right: 10px;
}

.download-link i {
  font-size: 18px;
  vertical-align: middle;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}