.error-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

.error-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10001;
}

.error-banner {
  pointer-events: all;
  background-color: white;
  border: 1px solid #aaa;
  padding: 20px;
  max-width: 60vw;
}